.section-footer {
  background-color: #f2f5ff;
}
.footer-icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #5f2ded;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media only screen and (max-width: 425px) {
  footer-icon-circle {
    width: 20px;
    height: 20px;
  }
} */
.imgage-cover {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-logo-social-wrapper {
  background-color: #dde0e9;
}

.footer-social-icons {
  padding: 15px;
  background-color: rgb(191, 191, 191, 25%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.footer-social-icons:hover {
  transform: scale(1.3);
  background-color: rgb(191, 191, 191, 50%);
}
